<div class="modal hide fade" id="wizard">
	<button type="button" class="close" data-dismiss="modal">×</button>
</div>

<script id="tmpl-step1" type="text/template">
  	<h1>Agenda</h1>
	<div id="wizard-table">
		<table class="table table-striped table-condensed wizard">
		  <tr>
		    <th>Resource</th>
		    <th>Date</th>
		    <th></th>
		  </tr>
	
		  {{! resource_categories }}

		  {{ _.each(reservations.list, function(reservation) { }}
		  <tr id="reservation_{{= reservation.id }}">
		    <td> {{= reservation.id }} </td>
		    <td> {{= reservation.start }} </td>
		    <td>
				<a href="/reservations/{{= reservation.id }}" data-method="delete" data-remote="true" rel="nofollow">Cancel</a>
			</td>
		  </tr>
		  {{ }) }}
		</table>
	</div>
	<h1>What would you like to reserve?</h1>
	<div class="btn-group wizard-btn-group">
		{{ _.each(resource_categories.list, function(category) { }}
			<input type="submit" name="resource[{{= category.id }}]" class="btn wizard-resource resource-{{= category.name }}" >
		{{ }) }}
	</div>
</script>
<script id="tmpl-step2" type="text/template">
	<p>
		Instructions go here. Instructions go here. Instructions go here. Instructions go here.
		Instructions go here. Instructions go here. Instructions go here. Instructions go here.
		Instructions go here. Instructions go here. Instructions go here. Instructions go here.
		Instructions go here. Instructions go here. Instructions go here. Instructions go here.
	</p>
	<fieldset class="dept-resource">
		<div class="control-group">
			<label class="control-label" for="input01">Department</label>
			<div class="controls">
				<select id="department_id" name="resource[ou_uid]">
					<option value class="static">Select Department</option>
					{{ _.each(departments.list, function(department) { }}
						<option value="{{= department.ou_uid }}">{{= department.description }}</option>
					{{ }) }}
				</select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="input01">Resource</label>
			<div class="controls">
				<select id="resource_id" name="reservation[resource_id]">
					<option value class="static">Select Resource</option>
					{{ _.each(resources.list, function(resource) { }}
						<option value="{{= resource.id }}" class="dep_{{= resource.ou_uid }}">{{= resource.name }}</option>
					{{ }) }}
				</select>
			</div>
		</div>
	</fieldset>
</script>
<script id="tmpl-step3" type="text/template">
  	<p>{{= question.question }}</p><input type="text" />
</script>
<script id="tmpl-step4" type="text/template">
  	<p>{{= question.question }}</p><input type="text" />
</script>


<%= javascript_include_tag "reservations" %>
<!-- Variable Assignments -->
<!-- Step 1 -->
<script type="text/json" id="jsReservations">
 {
   "list": <%= @reservations.to_json %>
 }
</script>
<script type="text/javascript">
     var div = $('<div></div>');
     div.html($('#jsReservations').text());
     reservations.reservations = JSON.parse(div.text());
</script>

<script type="text/json" id="jsCategories">
 {
   "list": <%= @resource_categories.to_json %>
 }
</script>
<script type="text/javascript">
     var div = $('<div></div>');
     div.html($('#jsCategories').text());
     reservations.resource_categories = JSON.parse(div.text());
</script>

<!-- Step 2 -->
<script type="text/json" id="jsDepartments">
 {
   "list": <%= @departments.to_json %>
 }
</script>
<script type="text/javascript">
     var div = $('<div></div>');
     div.html($('#jsDepartments').text());
     reservations.departments = JSON.parse(div.text());
</script>

<script type="text/json" id="jsResources">
 {
   "list": <%= @resources.to_json %>
 }
</script>
<script type="text/javascript">
     var div = $('<div></div>');
     div.html($('#jsResources').text());
     reservations.resources = JSON.parse(div.text());
</script>

<script type="text/javascript">
	reservations.initialize();
</script>
